


@page "/counter/{DefaultCount:int?}"

<p>Current count: <span id="counterVal">@currentCount</span></p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;


    [Parameter]
    public int DefaultCount { get; set; }

    protected override void OnParametersSet()
    {
        if (DefaultCount != 0)
        {
            currentCount = DefaultCount;
        }
    }
    [Parameter]
    public EventCallback<MouseEventArgs>    onclick { get; set; }

    public void IncrementCount()
    {
    currentCount++;
    }
    }
